html,
body {
  padding: 0;
  margin: 0;
  font-family: IRANSans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}
* {
  font-family: IRANSans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
.v-application .headline,
.v-application .title,
.v-application .body-1,
.v-application .subtitle-1 {
  font-family: IRANSans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

code,
kbd,
pre,
samp {
  font-family: IRANSans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.required-mark {
  color: #b35353;
}

.v-input__prepend-outer {
  margin-right: 0;
  margin-left: 9px;
}

.v-btn {
  letter-spacing: 0 !important;
  font-size: 1rem !important;
}
.v-card {
  word-break: initial !important;
}

.swal-text {
  text-align: right;
}

::-webkit-validation-bubble-message {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px #fff inset;
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}

.theme--light.v-stepper--vertical .v-stepper__content:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.v-stepper--vertical .v-stepper__content {
  margin: -8px 36px -16px -36px;
  padding: 16px 23px 16px 60px;
  width: auto;
}

.v-alert__icon {
  margin: 0 0 0 16px;
}
.v-chip .v-chip__content {
  cursor: inherit !important;
}
.v-expansion-panel {
  text-align: right !important;
}
.hand {
  cursor: pointer !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.v-card__actions {
  flex-wrap: wrap;
}
.v-card__actions .v-btn {
  margin-top: 8px;
}
.v-card__text {
  font-size: 13px !important;
}
