$body-font-family: IRANSans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$heading-font-family: IRANSans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-size-root: 14px;
@import "~vuetify/src/styles/styles.sass";
